.grid {
    margin: 10px;
    flex: 1;
}

.cell {
    aspect-ratio: 1/1;
    flex:1;
    background-size: cover;
    display: flex;
    align-items: baseline;
}


.img-A{ 
    width: 100%;
    position: relative;    
}

.img-default{
    width: 50%;
}

.img-O{
    width: 100%;
    height: auto;
    align-self: center;
}