.grid {
    margin: 10px;
    flex: 1;
}

.cell {
    aspect-ratio: 1/1;
    flex:1;
    background-size: cover;
}


.img-A{ 
    width: 50%;
    transform: scale(1.6) translateY(3%) translateX(20%);
    z-index: 1;
}

.img-default{
    width: 40%;
    z-index: 0;
}

.img-O{
    width: 100%;
    height: auto;
    align-self: center;
}