.selection{
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: var(--home-background);
}

.selection-text {
    color: var(--home-text-color) !important;
}