.creator-card-icon {
    margin: auto;
    background-color: #C469FF; 
    border-radius: 50%; 
    text-align: center;
    width: 65%;
    height: 80%;
    color: white;
    vertical-align: middle;
    padding: 20px;
}

.creator-card-text {
    border-style: solid;
    border-radius: 20px;
    border-width: thin;
    margin-top: 15px;
    padding: 5px;
}

.icon-size {
    font-size: 50px;
}