.home-card {
    border-radius: 20px !important; 
    width: 14rem;
    padding: 30px;
    margin: 30px;
    transition: transform .2s !important
}

.home-card:hover {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
}