.background {
    display: center;
    position: relative;
    margin-bottom: -18rem;
    height: 30rem;
    z-index: -1
}

.title {
    position: relative;
    text-align: center;
    top: 1.5rem; 
    text-transform: uppercase;
    color: white;
}

.logo {
    position: absolute;
    top: 7rem;
}

.home-logo-grid {
    background-color: #311C3B;
    align-items: center;
    justify-content: space-evenly;
    height: 12rem;
}

.home-grid {
    background-color: #311C3B;
    align-items: center;
    justify-content: space-evenly;
    min-height: 50rem;
}

