.header {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
    max-height: var(--header-height);
}

.logo {
    height: 40px;
}

.header div{
    display: flex;
}

.face {
    height: var(--header-height);
    border-radius: 10px;
    border: 1px solid #ddd;
}

.gray {
    filter: grayscale(1);
}

.login-btn {
    animation: blinker 1s linear infinite;
    height: var(--header-height);
}

@keyframes blinker {
  50% {
    color: var(--theme-link-color);
  }
}

.header-text {
    color: #787878;
    align-content: center;
    text-align: center;
    flex-wrap: nowrap;
    max-height: var(--header-height);
}