.grid {
    margin: 10px;
}

.cell {
    aspect-ratio: 1/1;
    flex:1;
    background-size: cover;
    display: flex;
    align-items: baseline;
    cursor: pointer;
}

.img-A{ 
    width: 50%;
    transform: scale(1.6) translateY(3%) translateX(15%);
    z-index: 1;
    position: relative;
}

.img-default{
    width: 50%;
    transform: translateY(40%);
    z-index: 0;
}

.img-O{
    width: 100%;
    height: auto;
    align-self: center;
}
